<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>GameNight.com - Page Name</title>
		<link rel="stylesheet" href="../../styles/blueprint/screen.css"
			type="text/css" media="screen, projection" />
		<link rel="stylesheet" href="../../styles/blueprint/print.css"
			type="text/css" media="print" />
		<!--
			[if lt IE 8]> <link rel="stylesheet"
			href="../../styles/blueprint/ie.css" type="text/css" media="screen,
			projection"> <![endif]
		-->
		<link rel="stylesheet" type="text/css" href="../../styles/custom.css" />
	</head>
	<body>
		<div class="container">
			<div id="header" class="span-24">
				<div id="banner" class="span-20">
					<a href="home.html">
						<span>GameNight.com</span>
					</a>
				</div>
				<div id="login" class="span-4 last">
					<span><a href="logout.html">Logout</a> jbloggs</span>
				</div>
			</div>
		
			<div id="middle" class="span-24">
				<div id="mainNav" class="span-4">
					<ul>
						<li>
							Groups
							<ul>
								<li>
									<a href="foo">Find</a>
								</li>
								<li>
									<a href="bar">Add</a>
								</li>
							</ul>
						</li>
						<li>Venues</li>
					</ul>
				</div>
				<div id="page" class="span-20 last">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
					nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
					sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
					rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
					ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
					elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
					aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
					dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
					est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
					sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
					dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
					justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
					takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum
					iriure dolor in hendrerit in vulputate velit esse molestie consequat,
					vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et
					iusto odio dignissim qui blandit praesent luptatum zzril delenit augue
					duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,
					consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
					laoreet dolore magna aliquam erat volutpat.</p>
				</div>
			</div>
			<div id="footer" class="span-24">
				<div id="footerLinks" class="span-20">
					<span><a href="about.html">About</a></span>
					<span><a href="help.html">Help</a></span>
					<span><a href="legal.html">Legal</a></span>
				</div>
				<div id="footerCredits" class="span-4 last">
					<span>&copy; Andrew Swan 2010</span>
				</div>
			</div>
		</div>
	</body>
</html>
